src/main/resources/wadl/example.wadl

<?xml-stylesheet type="text/xsl" href="/Users/andresbustamante/workspaces/cxf-wadl2java/src/main/resources/wadl/wadl.xsl"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:ns="http://andresbustamante.net/example/users">
    <doc xml:lang="es" title="REST API"/>
    <grammars>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
                   elementFormDefault="unqualified">
            <xs:import namespace="http://andresbustamante.net/example/users" schemaLocation="../xsd/users.xsd"/>
        </xs:schema>
    </grammars>
    <resources base="http://localhost:8080/api/rest">
        <resource path="/users" id="UsersController">
            <resource path="">
                <method name="POST" id="createUser">
                    <request>
                        <representation mediaType="application/json">
                            <param name="user" style="query" type="ns:userType" />
                        </representation>
                    </request>
                    <response status="201">
                        <representation mediaType="application/json"/>
                    </response>
                    <response status="400">
                        <representation mediaType="application/json"/>
                    </response>
                    <response status="500">
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <method name="GET" id="getUserById">
                    <request>
                        <param name="id" type="xs:int" style="template" />
                    </request>
                    <response status="200">
                        <representation mediaType="application/json" element="ns:user"/>
                    </response>
                    <response status="404">
                        <representation mediaType="application/json"/>
                    </response>
                    <response status="500">
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="PUT" id="updateUserById">
                    <request>
                        <param name="id" type="xs:int" style="template" />
                        <representation mediaType="application/json">
                            <param name="user" style="query" type="ns:userType" />
                        </representation>
                    </request>
                    <response status="202">
                        <representation mediaType="application/json" element="ns:user"/>
                    </response>
                    <response status="404">
                        <representation mediaType="application/json"/>
                    </response>
                    <response status="500">
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="DELETE" id="deleteUserById">
                    <request>
                        <param name="id" type="xs:int" style="template" />
                    </request>
                    <response status="204">
                        <representation mediaType="application/json"/>
                    </response>
                    <response status="404">
                        <representation mediaType="application/json"/>
                    </response>
                    <response status="500">
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>